main.json
{"flowContents":{"identifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","instanceIdentifier":"55092c23-019b-1000-4e57-060a824c8130","name":"main","comments":"","position":{"x":-592.0,"y":-616.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"65ee1817-59af-31cf-af71-e98a34a1b23c","instanceIdentifier":"1cd6a770-019b-1000-84a5-5e4eb03bb856","name":"PutWebSocket","comments":"","position":{"x":2144.0,"y":-616.0},"type":"org.apache.nifi.processors.websocket.PutWebSocket","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-processors-nar","version":"2.6.0"},"properties":{"websocket-session-id":"${websocket.session.id}","websocket-controller-service-id":"${websocket.controller.service.id}","websocket-message-type":"TEXT","websocket-endpoint-id":"${websocket.endpoint.id}"},"propertyDescriptors":{"websocket-session-id":{"name":"websocket-session-id","displayName":"WebSocket Session Id","identifiesControllerService":false,"sensitive":false,"dynamic":false},"websocket-controller-service-id":{"name":"websocket-controller-service-id","displayName":"WebSocket ControllerService Id","identifiesControllerService":false,"sensitive":false,"dynamic":false},"websocket-message-type":{"name":"websocket-message-type","displayName":"WebSocket Message Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"websocket-endpoint-id":{"name":"websocket-endpoint-id","displayName":"WebSocket Endpoint Id","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"3cd3ac9c-fac2-3d95-bc50-6afa0781ae0c","instanceIdentifier":"1d79ca40-019b-1000-4128-fc5e9212f6c1","name":"AttributesToJSON","comments":"","position":{"x":2848.0,"y":96.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"headline,summary,article_url,timestamp","Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"9471804a-2661-3e3a-9383-07667fded531","instanceIdentifier":"19b387a5-019b-1000-f5f7-d8699a38d4bc","name":"ReplaceText","comments":"","position":{"x":-304.0,"y":-376.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"BINANCE:BTCUSDT\nBINANCE:ETHUSDT\nBINANCE:DOGEUSDT\nCOINBASE:BTC-USD\nAAPL\nNVDA\nOANDA:EUR_USD","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"e235c1ba-039d-32ec-b66d-618f44968bbe","instanceIdentifier":"1c72b2cc-019b-1000-1a3c-7be53ef440aa","name":"Split the trades array","comments":"","position":{"x":392.0,"y":-352.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.data"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"043f5bf3-9546-34e2-b50e-88c09f5d75f3","instanceIdentifier":"1cebf819-019b-1000-61fa-beb2d3a6c6b6","name":"UpdateAttribute","comments":"","position":{"x":552.0,"y":48.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0"},"properties":{"symbol":"${symbol:substringAfter(':')}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","source":"finnhub","Stateful Variables Initial Value":null},"propertyDescriptors":{"symbol":{"name":"symbol","displayName":"symbol","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"a1469da6-2bf5-3555-83bb-3ebf19954e03","instanceIdentifier":"19adb09f-019b-1000-b9e3-c00640aacff1","name":"ReplaceText","comments":"","position":{"x":-584.0,"y":8.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Regular Expression":"(.+)","Replacement Value":"{\"type\": \"subscribe\", \"symbol\": \"$1\"}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"1d6f139d-019b-1000-c3d1-c80668ac31b8","instanceIdentifier":"2a5fb25c-a4d3-37fa-6786-513220087c27","name":"PublishKafka","comments":"","position":{"x":2816.0,"y":392.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.6.0"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"financial_news","Kafka Key":null,"partition":null,"Kafka Connection Service":"0879f1a0-e1a7-37c5-8856-eb792c374609","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"c0c983da-76c6-3a51-932a-7c84ea1349bd","instanceIdentifier":"1d681fdc-019b-1000-1a1c-e98ac8eca464","name":"SplitJson","comments":"","position":{"x":2840.0,"y":-360.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"5739ed65-1795-3a7b-9fbc-a0c8737c19e6","instanceIdentifier":"1951585c-019b-1000-40de-40b98436f8f5","name":"PublishKafka","comments":"","position":{"x":984.0,"y":544.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.6.0"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"financial_trades","Kafka Key":"${symbol}","partition":null,"Kafka Connection Service":"0879f1a0-e1a7-37c5-8856-eb792c374609","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"3260ae26-990a-315a-881a-c33471ad1a91","instanceIdentifier":"19ac0237-019b-1000-d600-86422df12131","name":"SplitText","comments":"","position":{"x":-496.0,"y":-184.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"486c04da-5cb0-35bd-8615-d1c4a12cb5e1","instanceIdentifier":"18a6ed7c-019b-1000-83a3-8eb36d75a0f8","name":"ConnectWebSocket Finnhub","comments":"","position":{"x":-8.0,"y":-584.0},"type":"org.apache.nifi.processors.websocket.ConnectWebSocket","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-processors-nar","version":"2.6.0"},"properties":{"websocket-client-controller-service":"2b54ff77-99a5-35a6-9a31-da94393dd4c8","websocket-client-id":"finnhub-stream"},"propertyDescriptors":{"websocket-client-controller-service":{"name":"websocket-client-controller-service","displayName":"WebSocket Client ControllerService","identifiesControllerService":true,"sensitive":false,"dynamic":false},"websocket-client-id":{"name":"websocket-client-id","displayName":"WebSocket Client Id","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["disconnected","success","failure","binary message"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"1cc940db-019b-1000-31b5-37fa45b11470","instanceIdentifier":"e03b7ca3-ee10-3eb9-53eb-c1d5a647d803","name":"ConnectWebSocket Binance","comments":"","position":{"x":1056.0,"y":-616.0},"type":"org.apache.nifi.processors.websocket.ConnectWebSocket","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-processors-nar","version":"2.6.0"},"properties":{"websocket-client-controller-service":"8db457c6-c108-35a0-9b45-60f14bc122f1","websocket-client-id":"binance-stream"},"propertyDescriptors":{"websocket-client-controller-service":{"name":"websocket-client-controller-service","displayName":"WebSocket Client ControllerService","identifiesControllerService":true,"sensitive":false,"dynamic":false},"websocket-client-id":{"name":"websocket-client-id","displayName":"WebSocket Client Id","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["disconnected","success","failure","binary message"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"5f014667-5064-3925-af2d-d54f4aa1fe32","instanceIdentifier":"1cd57f49-019b-1000-17f6-d7bcc7c6ebff","name":"ReplaceText","comments":"","position":{"x":1712.0,"y":-616.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"method\": \"SUBSCRIBE\",\n  \"params\": [\n    \"btcusdt@trade\",\n    \"ethusdt@trade\",\n    \"bnbusdt@trade\",\n    \"dogeusdt@trade\",\n    \"solusdt@trade\"\n  ],\n  \"id\": 1\n}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"6aced713-fc78-31d7-9e15-2b8db29f88b4","instanceIdentifier":"18d79ca7-019b-1000-b69c-2724397e424f","name":"AttributesToJSON","comments":"","position":{"x":984.0,"y":288.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"symbol,price,timestamp,volume,source","Pretty Print":"false","Include Core Attributes":"false","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"82cab960-472a-3450-b838-2ae87a26bda1","instanceIdentifier":"1d632465-019b-1000-df68-8864a65d2738","name":"InvokeHTTP","comments":"","position":{"x":2856.0,"y":-616.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://finnhub.io/api/v1/news?category=general&token=d4qtt7hr01qrphac3eg0d4qtt7hr01qrphac3egg","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"09b81db9-99ba-34ad-96b1-58bc9e78861f","instanceIdentifier":"1ce3db83-019b-1000-6308-79f9e32cc5aa","name":"EvaluateJsonPath","comments":"","position":{"x":1072.0,"y":-336.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"volume":"$.q","Destination":"flowfile-attribute","symbol":"$.s","Max String Length":"20 MB","price":"$.p","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","timestamp":"$.T"},"propertyDescriptors":{"volume":{"name":"volume","displayName":"volume","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"symbol":{"name":"symbol","displayName":"symbol","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"price":{"name":"price","displayName":"price","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"timestamp":{"name":"timestamp","displayName":"timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"e347ebc1-e83b-30dd-99fd-879bfe4f3816","instanceIdentifier":"18ce72a1-019b-1000-f7c4-5443c7ad9ef1","name":"EvaluateJsonPath","comments":"","position":{"x":400.0,"y":-168.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"volume":"$.v","Destination":"flowfile-attribute","symbol":"$.s","Max String Length":"20 MB","price":"$.p","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","timestamp":"$.t"},"propertyDescriptors":{"volume":{"name":"volume","displayName":"volume","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"symbol":{"name":"symbol","displayName":"symbol","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"price":{"name":"price","displayName":"price","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"timestamp":{"name":"timestamp","displayName":"timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"2e343e3f-65f7-35eb-b1d9-6d57314bcbfa","instanceIdentifier":"1ce82de8-019b-1000-bc5a-8c2ee2ddcdb5","name":"UpdateAttribute","comments":"","position":{"x":1080.0,"y":0.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","source":"binance","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"290cc144-4e70-35b9-a2eb-66369d90a863","instanceIdentifier":"19b0023c-019b-1000-7871-84016c290c76","name":"PutWebSocket","comments":"","position":{"x":-592.0,"y":208.0},"type":"org.apache.nifi.processors.websocket.PutWebSocket","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-processors-nar","version":"2.6.0"},"properties":{"websocket-session-id":"${websocket.session.id}","websocket-controller-service-id":"${websocket.controller.service.id}","websocket-message-type":"TEXT","websocket-endpoint-id":"${websocket.endpoint.id}"},"propertyDescriptors":{"websocket-session-id":{"name":"websocket-session-id","displayName":"WebSocket Session Id","identifiesControllerService":false,"sensitive":false,"dynamic":false},"websocket-controller-service-id":{"name":"websocket-controller-service-id","displayName":"WebSocket ControllerService Id","identifiesControllerService":false,"sensitive":false,"dynamic":false},"websocket-message-type":{"name":"websocket-message-type","displayName":"WebSocket Message Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"websocket-endpoint-id":{"name":"websocket-endpoint-id","displayName":"WebSocket Endpoint Id","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"a345c7e9-bc5b-36e1-8226-f11bbfe0d2a5","instanceIdentifier":"1d69be0a-019b-1000-053f-a799e5c81c22","name":"EvaluateJsonPath","comments":"","position":{"x":2848.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"summary":"$.summary","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","article_url":"$.url","headline":"$.headline","Path Not Found Behavior":"ignore","timestamp":"$.datetime"},"propertyDescriptors":{"summary":{"name":"summary","displayName":"summary","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"article_url":{"name":"article_url","displayName":"article_url","identifiesControllerService":false,"sensitive":false,"dynamic":true},"headline":{"name":"headline","displayName":"headline","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"timestamp":{"name":"timestamp","displayName":"timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"473befb8-de40-33aa-bf5a-bc16f69bafba","instanceIdentifier":"1ce3f17e-019b-1000-f3df-07ee7ef23dd0","name":"","source":{"id":"1cc940db-019b-1000-31b5-37fa45b11470","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"ConnectWebSocket Binance","comments":"","instanceIdentifier":"e03b7ca3-ee10-3eb9-53eb-c1d5a647d803"},"destination":{"id":"09b81db9-99ba-34ad-96b1-58bc9e78861f","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"1ce3db83-019b-1000-6308-79f9e32cc5aa"},"labelIndex":0,"zIndex":21,"selectedRelationships":["text message"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"816f2c94-0993-3ebe-a00f-ef9aa4f8ff82","instanceIdentifier":"19b01eb3-019b-1000-dcb0-9f4ec377fc5a","name":"","source":{"id":"a1469da6-2bf5-3555-83bb-3ebf19954e03","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"ReplaceText","comments":"","instanceIdentifier":"19adb09f-019b-1000-b9e3-c00640aacff1"},"destination":{"id":"290cc144-4e70-35b9-a2eb-66369d90a863","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"PutWebSocket","comments":"","instanceIdentifier":"19b0023c-019b-1000-7871-84016c290c76"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"436e258c-9ee9-3ff7-86f5-52ebb7f437fe","instanceIdentifier":"19add4a6-019b-1000-7d55-efc75d7d409e","name":"","source":{"id":"3260ae26-990a-315a-881a-c33471ad1a91","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"SplitText","comments":"","instanceIdentifier":"19ac0237-019b-1000-d600-86422df12131"},"destination":{"id":"a1469da6-2bf5-3555-83bb-3ebf19954e03","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"ReplaceText","comments":"","instanceIdentifier":"19adb09f-019b-1000-b9e3-c00640aacff1"},"labelIndex":0,"zIndex":12,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"ed314c06-698e-396f-a863-48930f43decc","instanceIdentifier":"1d683664-019b-1000-0e18-f24c87c66e66","name":"","source":{"id":"82cab960-472a-3450-b838-2ae87a26bda1","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"InvokeHTTP","comments":"","instanceIdentifier":"1d632465-019b-1000-df68-8864a65d2738"},"destination":{"id":"c0c983da-76c6-3a51-932a-7c84ea1349bd","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"SplitJson","comments":"","instanceIdentifier":"1d681fdc-019b-1000-1a1c-e98ac8eca464"},"labelIndex":0,"zIndex":26,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"f0cbae7d-c9b0-3492-8412-dc9273b28cde","instanceIdentifier":"1c78a9fb-019b-1000-c62e-fe693c8c93de","name":"","source":{"id":"e235c1ba-039d-32ec-b66d-618f44968bbe","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"Split the trades array","comments":"","instanceIdentifier":"1c72b2cc-019b-1000-1a3c-7be53ef440aa"},"destination":{"id":"e347ebc1-e83b-30dd-99fd-879bfe4f3816","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"18ce72a1-019b-1000-f7c4-5443c7ad9ef1"},"labelIndex":0,"zIndex":17,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"0bbad206-212f-32de-9e5e-4a8b96215bde","instanceIdentifier":"19b3b913-019b-1000-2e01-4d8840eebb09","name":"","source":{"id":"486c04da-5cb0-35bd-8615-d1c4a12cb5e1","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"ConnectWebSocket Finnhub","comments":"","instanceIdentifier":"18a6ed7c-019b-1000-83a3-8eb36d75a0f8"},"destination":{"id":"9471804a-2661-3e3a-9383-07667fded531","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"ReplaceText","comments":"","instanceIdentifier":"19b387a5-019b-1000-f5f7-d8699a38d4bc"},"labelIndex":0,"zIndex":14,"selectedRelationships":["connected"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"9696ac08-c1fa-32d1-9fcf-0509431644ec","instanceIdentifier":"1c760d8b-019b-1000-5463-ae7c0373397e","name":"","source":{"id":"486c04da-5cb0-35bd-8615-d1c4a12cb5e1","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"ConnectWebSocket Finnhub","comments":"","instanceIdentifier":"18a6ed7c-019b-1000-83a3-8eb36d75a0f8"},"destination":{"id":"e235c1ba-039d-32ec-b66d-618f44968bbe","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"Split the trades array","comments":"","instanceIdentifier":"1c72b2cc-019b-1000-1a3c-7be53ef440aa"},"labelIndex":0,"zIndex":16,"selectedRelationships":["text message"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"fc9cdcac-64f9-3c81-a693-aeffbe86e7f6","instanceIdentifier":"1d7b1ce2-019b-1000-d103-e6d25c8f11ac","name":"","source":{"id":"3cd3ac9c-fac2-3d95-bc50-6afa0781ae0c","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"AttributesToJSON","comments":"","instanceIdentifier":"1d79ca40-019b-1000-4128-fc5e9212f6c1"},"destination":{"id":"1d6f139d-019b-1000-c3d1-c80668ac31b8","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"PublishKafka","comments":"","instanceIdentifier":"2a5fb25c-a4d3-37fa-6786-513220087c27"},"labelIndex":0,"zIndex":29,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"6adb2fd7-f22f-3013-8a1b-08d55bcef8be","instanceIdentifier":"1cec296f-019b-1000-eb98-d52fddff1b7f","name":"","source":{"id":"043f5bf3-9546-34e2-b50e-88c09f5d75f3","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"UpdateAttribute","comments":"","instanceIdentifier":"1cebf819-019b-1000-61fa-beb2d3a6c6b6"},"destination":{"id":"6aced713-fc78-31d7-9e15-2b8db29f88b4","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"AttributesToJSON","comments":"","instanceIdentifier":"18d79ca7-019b-1000-b69c-2724397e424f"},"labelIndex":0,"zIndex":25,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"57d89795-8074-3081-866e-b522e6e30418","instanceIdentifier":"1cec1835-019b-1000-4290-3748d6902bc6","name":"","source":{"id":"e347ebc1-e83b-30dd-99fd-879bfe4f3816","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"18ce72a1-019b-1000-f7c4-5443c7ad9ef1"},"destination":{"id":"043f5bf3-9546-34e2-b50e-88c09f5d75f3","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"UpdateAttribute","comments":"","instanceIdentifier":"1cebf819-019b-1000-61fa-beb2d3a6c6b6"},"labelIndex":0,"zIndex":24,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"e0bfc0be-6525-3293-a092-d2f25f1687d5","instanceIdentifier":"1ce85bc5-019b-1000-9fcf-8eaeb2dc6fa9","name":"","source":{"id":"09b81db9-99ba-34ad-96b1-58bc9e78861f","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"1ce3db83-019b-1000-6308-79f9e32cc5aa"},"destination":{"id":"2e343e3f-65f7-35eb-b1d9-6d57314bcbfa","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"UpdateAttribute","comments":"","instanceIdentifier":"1ce82de8-019b-1000-bc5a-8c2ee2ddcdb5"},"labelIndex":0,"zIndex":22,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"70089396-7692-306a-9469-ca864a8c8e34","instanceIdentifier":"1ceb6445-019b-1000-721d-ae8a8b04552a","name":"","source":{"id":"2e343e3f-65f7-35eb-b1d9-6d57314bcbfa","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"UpdateAttribute","comments":"","instanceIdentifier":"1ce82de8-019b-1000-bc5a-8c2ee2ddcdb5"},"destination":{"id":"6aced713-fc78-31d7-9e15-2b8db29f88b4","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"AttributesToJSON","comments":"","instanceIdentifier":"18d79ca7-019b-1000-b69c-2724397e424f"},"labelIndex":0,"zIndex":23,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"d3966ce7-b5cc-354e-b6bc-0606e5c1c269","instanceIdentifier":"1cd5dc02-019b-1000-5afb-c540ad898452","name":"","source":{"id":"1cc940db-019b-1000-31b5-37fa45b11470","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"ConnectWebSocket Binance","comments":"","instanceIdentifier":"e03b7ca3-ee10-3eb9-53eb-c1d5a647d803"},"destination":{"id":"5f014667-5064-3925-af2d-d54f4aa1fe32","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"ReplaceText","comments":"","instanceIdentifier":"1cd57f49-019b-1000-17f6-d7bcc7c6ebff"},"labelIndex":0,"zIndex":19,"selectedRelationships":["connected"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"6e14f8b8-1336-3344-86c0-10995990d905","instanceIdentifier":"195258fe-019b-1000-fc10-8dad0f44aae6","name":"","source":{"id":"6aced713-fc78-31d7-9e15-2b8db29f88b4","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"AttributesToJSON","comments":"","instanceIdentifier":"18d79ca7-019b-1000-b69c-2724397e424f"},"destination":{"id":"5739ed65-1795-3a7b-9fbc-a0c8737c19e6","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"PublishKafka","comments":"","instanceIdentifier":"1951585c-019b-1000-40de-40b98436f8f5"},"labelIndex":0,"zIndex":10,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"a8eb6172-df0c-36f1-8920-51c808625596","instanceIdentifier":"1d6aa49b-019b-1000-6b72-cbf4464204c0","name":"","source":{"id":"c0c983da-76c6-3a51-932a-7c84ea1349bd","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"SplitJson","comments":"","instanceIdentifier":"1d681fdc-019b-1000-1a1c-e98ac8eca464"},"destination":{"id":"a345c7e9-bc5b-36e1-8226-f11bbfe0d2a5","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"1d69be0a-019b-1000-053f-a799e5c81c22"},"labelIndex":0,"zIndex":27,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"c7d47fc2-0422-35d5-a8ff-b70dfcd44ef4","instanceIdentifier":"1cd6c22e-019b-1000-37ea-2e91106fe785","name":"","source":{"id":"5f014667-5064-3925-af2d-d54f4aa1fe32","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"ReplaceText","comments":"","instanceIdentifier":"1cd57f49-019b-1000-17f6-d7bcc7c6ebff"},"destination":{"id":"65ee1817-59af-31cf-af71-e98a34a1b23c","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"PutWebSocket","comments":"","instanceIdentifier":"1cd6a770-019b-1000-84a5-5e4eb03bb856"},"labelIndex":0,"zIndex":20,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"f4b02fd5-5dce-35e4-90d2-9846ac6bce02","instanceIdentifier":"19bb6ad2-019b-1000-1114-16a7fd680b94","name":"","source":{"id":"9471804a-2661-3e3a-9383-07667fded531","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"ReplaceText","comments":"","instanceIdentifier":"19b387a5-019b-1000-f5f7-d8699a38d4bc"},"destination":{"id":"3260ae26-990a-315a-881a-c33471ad1a91","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"SplitText","comments":"","instanceIdentifier":"19ac0237-019b-1000-d600-86422df12131"},"labelIndex":0,"zIndex":15,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"},{"identifier":"c1fce8d5-d037-3f64-a5a0-a8f0a2c75d73","instanceIdentifier":"1d7b0c4f-019b-1000-fe7d-7e38be3ac53f","name":"","source":{"id":"a345c7e9-bc5b-36e1-8226-f11bbfe0d2a5","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"1d69be0a-019b-1000-053f-a799e5c81c22"},"destination":{"id":"3cd3ac9c-fac2-3d95-bc50-6afa0781ae0c","type":"PROCESSOR","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","name":"AttributesToJSON","comments":"","instanceIdentifier":"1d79ca40-019b-1000-4128-fc5e9212f6c1"},"labelIndex":0,"zIndex":28,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"2b54ff77-99a5-35a6-9a31-da94393dd4c8","instanceIdentifier":"13d1bd8a-019b-1000-4184-6cc1886bab27","name":"JettyWebSocketClient","comments":"","type":"org.apache.nifi.websocket.jetty.JettyWebSocketClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-services-jetty-nar","version":"2.6.0"},"properties":{"Max Binary Message Size":"64 kb","Connection Attempt Count":"3","Connection Timeout":"3 sec","Idle Timeout":"0 sec","SSL Context Service":null,"WebSocket URI":"wss://ws.finnhub.io?token=d4qtt7hr01qrphac3eg0d4qtt7hr01qrphac3egg","Username":null,"HTTP Proxy Port":null,"Input Buffer Size":"4 kb","HTTP Proxy Host":null,"Session Maintenance Interval":"10 sec","Max Text Message Size":"64 kb","Authentication Header Charset":"US-ASCII"},"propertyDescriptors":{"Custom Authorization":{"name":"Custom Authorization","displayName":"Custom Authorization","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Max Binary Message Size":{"name":"Max Binary Message Size","displayName":"Max Binary Message Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Attempt Count":{"name":"Connection Attempt Count","displayName":"Connection Attempt Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Idle Timeout":{"name":"Idle Timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"WebSocket URI":{"name":"WebSocket URI","displayName":"WebSocket URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Proxy Port":{"name":"HTTP Proxy Port","displayName":"HTTP Proxy Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Buffer Size":{"name":"Input Buffer Size","displayName":"Input Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Proxy Host":{"name":"HTTP Proxy Host","displayName":"HTTP Proxy Host","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Maintenance Interval":{"name":"Session Maintenance Interval","displayName":"Session Maintenance Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Text Message Size":{"name":"Max Text Message Size","displayName":"Max Text Message Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Authentication Header Charset":{"name":"Authentication Header Charset","displayName":"Authentication Header Charset","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.websocket.WebSocketClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-services-api-nar","version":"2.6.0"}},{"type":"org.apache.nifi.websocket.WebSocketService","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"55092c23-019b-1000-4e57-060a824c8130"},{"identifier":"0879f1a0-e1a7-37c5-8856-eb792c374609","instanceIdentifier":"195e9a6c-019b-1000-a2ea-e556922dc67b","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.6.0"},"properties":{"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","bootstrap.servers":"kafka:9092","sasl.kerberos.service.name":null,"security.protocol":"PLAINTEXT","SSL Context Service":null,"sasl.mechanism":"GSSAPI","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"55092c23-019b-1000-4e57-060a824c8130"},{"identifier":"8db457c6-c108-35a0-9b45-60f14bc122f1","instanceIdentifier":"1cc97e29-019b-1000-8993-de0d7f16757c","name":"JettyWebSocketClient Binance","comments":"","type":"org.apache.nifi.websocket.jetty.JettyWebSocketClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-services-jetty-nar","version":"2.6.0"},"properties":{"Max Binary Message Size":"64 kb","Connection Attempt Count":"3","Connection Timeout":"3 sec","Idle Timeout":"0 sec","SSL Context Service":null,"WebSocket URI":"wss://stream.binance.com:9443/ws","Username":null,"HTTP Proxy Port":null,"Input Buffer Size":"4 kb","HTTP Proxy Host":null,"Session Maintenance Interval":"10 sec","Max Text Message Size":"64 kb","Authentication Header Charset":"US-ASCII"},"propertyDescriptors":{"Custom Authorization":{"name":"Custom Authorization","displayName":"Custom Authorization","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Max Binary Message Size":{"name":"Max Binary Message Size","displayName":"Max Binary Message Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Attempt Count":{"name":"Connection Attempt Count","displayName":"Connection Attempt Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Idle Timeout":{"name":"Idle Timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"WebSocket URI":{"name":"WebSocket URI","displayName":"WebSocket URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Proxy Port":{"name":"HTTP Proxy Port","displayName":"HTTP Proxy Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Buffer Size":{"name":"Input Buffer Size","displayName":"Input Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Proxy Host":{"name":"HTTP Proxy Host","displayName":"HTTP Proxy Host","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Maintenance Interval":{"name":"Session Maintenance Interval","displayName":"Session Maintenance Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Text Message Size":{"name":"Max Text Message Size","displayName":"Max Text Message Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Authentication Header Charset":{"name":"Authentication Header Charset","displayName":"Authentication Header Charset","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.websocket.WebSocketClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-services-api-nar","version":"2.6.0"}},{"type":"org.apache.nifi.websocket.WebSocketService","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"55092c23-019b-1000-4e57-060a824c8130"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}