main-version-1.json
{"externalControllerServices":{"8db457c6-c108-35a0-9b45-60f14bc122f1":{"identifier":"8db457c6-c108-35a0-9b45-60f14bc122f1","name":"JettyWebSocketClient Binance"},"0879f1a0-e1a7-37c5-8856-eb792c374609":{"identifier":"0879f1a0-e1a7-37c5-8856-eb792c374609","name":"Kafka3ConnectionService"},"2b54ff77-99a5-35a6-9a31-da94393dd4c8":{"identifier":"2b54ff77-99a5-35a6-9a31-da94393dd4c8","name":"JettyWebSocketClient"}},"flowContents":{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"09b81db9-99ba-34ad-96b1-58bc9e78861f","instanceIdentifier":"1ce3db83-019b-1000-6308-79f9e32cc5aa","name":"EvaluateJsonPath","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"473befb8-de40-33aa-bf5a-bc16f69bafba","instanceIdentifier":"1ce3f17e-019b-1000-f3df-07ee7ef23dd0","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["text message"],"source":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"1cc940db-019b-1000-31b5-37fa45b11470","instanceIdentifier":"e03b7ca3-ee10-3eb9-53eb-c1d5a647d803","name":"ConnectWebSocket Binance","type":"PROCESSOR"},"zIndex":21},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"290cc144-4e70-35b9-a2eb-66369d90a863","instanceIdentifier":"19b0023c-019b-1000-7871-84016c290c76","name":"PutWebSocket","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"816f2c94-0993-3ebe-a00f-ef9aa4f8ff82","instanceIdentifier":"19b01eb3-019b-1000-dcb0-9f4ec377fc5a","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"a1469da6-2bf5-3555-83bb-3ebf19954e03","instanceIdentifier":"19adb09f-019b-1000-b9e3-c00640aacff1","name":"ReplaceText","type":"PROCESSOR"},"zIndex":13},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"a1469da6-2bf5-3555-83bb-3ebf19954e03","instanceIdentifier":"19adb09f-019b-1000-b9e3-c00640aacff1","name":"ReplaceText","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"436e258c-9ee9-3ff7-86f5-52ebb7f437fe","instanceIdentifier":"19add4a6-019b-1000-7d55-efc75d7d409e","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["splits"],"source":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"3260ae26-990a-315a-881a-c33471ad1a91","instanceIdentifier":"19ac0237-019b-1000-d600-86422df12131","name":"SplitText","type":"PROCESSOR"},"zIndex":12},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"c0c983da-76c6-3a51-932a-7c84ea1349bd","instanceIdentifier":"1d681fdc-019b-1000-1a1c-e98ac8eca464","name":"SplitJson","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"ed314c06-698e-396f-a863-48930f43decc","instanceIdentifier":"1d683664-019b-1000-0e18-f24c87c66e66","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["Response"],"source":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"82cab960-472a-3450-b838-2ae87a26bda1","instanceIdentifier":"1d632465-019b-1000-df68-8864a65d2738","name":"InvokeHTTP","type":"PROCESSOR"},"zIndex":26},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"e347ebc1-e83b-30dd-99fd-879bfe4f3816","instanceIdentifier":"18ce72a1-019b-1000-f7c4-5443c7ad9ef1","name":"EvaluateJsonPath","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"f0cbae7d-c9b0-3492-8412-dc9273b28cde","instanceIdentifier":"1c78a9fb-019b-1000-c62e-fe693c8c93de","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["split"],"source":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"e235c1ba-039d-32ec-b66d-618f44968bbe","instanceIdentifier":"1c72b2cc-019b-1000-1a3c-7be53ef440aa","name":"Split the trades array","type":"PROCESSOR"},"zIndex":17},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"9471804a-2661-3e3a-9383-07667fded531","instanceIdentifier":"19b387a5-019b-1000-f5f7-d8699a38d4bc","name":"ReplaceText","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"0bbad206-212f-32de-9e5e-4a8b96215bde","instanceIdentifier":"19b3b913-019b-1000-2e01-4d8840eebb09","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["connected"],"source":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"486c04da-5cb0-35bd-8615-d1c4a12cb5e1","instanceIdentifier":"18a6ed7c-019b-1000-83a3-8eb36d75a0f8","name":"ConnectWebSocket Finnhub","type":"PROCESSOR"},"zIndex":14},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"e235c1ba-039d-32ec-b66d-618f44968bbe","instanceIdentifier":"1c72b2cc-019b-1000-1a3c-7be53ef440aa","name":"Split the trades array","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"9696ac08-c1fa-32d1-9fcf-0509431644ec","instanceIdentifier":"1c760d8b-019b-1000-5463-ae7c0373397e","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["text message"],"source":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"486c04da-5cb0-35bd-8615-d1c4a12cb5e1","instanceIdentifier":"18a6ed7c-019b-1000-83a3-8eb36d75a0f8","name":"ConnectWebSocket Finnhub","type":"PROCESSOR"},"zIndex":16},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"1d6f139d-019b-1000-c3d1-c80668ac31b8","instanceIdentifier":"2a5fb25c-a4d3-37fa-6786-513220087c27","name":"PublishKafka","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"fc9cdcac-64f9-3c81-a693-aeffbe86e7f6","instanceIdentifier":"1d7b1ce2-019b-1000-d103-e6d25c8f11ac","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"3cd3ac9c-fac2-3d95-bc50-6afa0781ae0c","instanceIdentifier":"1d79ca40-019b-1000-4128-fc5e9212f6c1","name":"AttributesToJSON","type":"PROCESSOR"},"zIndex":29},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"6aced713-fc78-31d7-9e15-2b8db29f88b4","instanceIdentifier":"18d79ca7-019b-1000-b69c-2724397e424f","name":"AttributesToJSON","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"6adb2fd7-f22f-3013-8a1b-08d55bcef8be","instanceIdentifier":"1cec296f-019b-1000-eb98-d52fddff1b7f","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"043f5bf3-9546-34e2-b50e-88c09f5d75f3","instanceIdentifier":"1cebf819-019b-1000-61fa-beb2d3a6c6b6","name":"UpdateAttribute","type":"PROCESSOR"},"zIndex":25},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"043f5bf3-9546-34e2-b50e-88c09f5d75f3","instanceIdentifier":"1cebf819-019b-1000-61fa-beb2d3a6c6b6","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"57d89795-8074-3081-866e-b522e6e30418","instanceIdentifier":"1cec1835-019b-1000-4290-3748d6902bc6","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["matched"],"source":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"e347ebc1-e83b-30dd-99fd-879bfe4f3816","instanceIdentifier":"18ce72a1-019b-1000-f7c4-5443c7ad9ef1","name":"EvaluateJsonPath","type":"PROCESSOR"},"zIndex":24},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"2e343e3f-65f7-35eb-b1d9-6d57314bcbfa","instanceIdentifier":"1ce82de8-019b-1000-bc5a-8c2ee2ddcdb5","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"e0bfc0be-6525-3293-a092-d2f25f1687d5","instanceIdentifier":"1ce85bc5-019b-1000-9fcf-8eaeb2dc6fa9","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["matched"],"source":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"09b81db9-99ba-34ad-96b1-58bc9e78861f","instanceIdentifier":"1ce3db83-019b-1000-6308-79f9e32cc5aa","name":"EvaluateJsonPath","type":"PROCESSOR"},"zIndex":22},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"6aced713-fc78-31d7-9e15-2b8db29f88b4","instanceIdentifier":"18d79ca7-019b-1000-b69c-2724397e424f","name":"AttributesToJSON","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"70089396-7692-306a-9469-ca864a8c8e34","instanceIdentifier":"1ceb6445-019b-1000-721d-ae8a8b04552a","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"2e343e3f-65f7-35eb-b1d9-6d57314bcbfa","instanceIdentifier":"1ce82de8-019b-1000-bc5a-8c2ee2ddcdb5","name":"UpdateAttribute","type":"PROCESSOR"},"zIndex":23},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"5f014667-5064-3925-af2d-d54f4aa1fe32","instanceIdentifier":"1cd57f49-019b-1000-17f6-d7bcc7c6ebff","name":"ReplaceText","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"d3966ce7-b5cc-354e-b6bc-0606e5c1c269","instanceIdentifier":"1cd5dc02-019b-1000-5afb-c540ad898452","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["connected"],"source":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"1cc940db-019b-1000-31b5-37fa45b11470","instanceIdentifier":"e03b7ca3-ee10-3eb9-53eb-c1d5a647d803","name":"ConnectWebSocket Binance","type":"PROCESSOR"},"zIndex":19},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"5739ed65-1795-3a7b-9fbc-a0c8737c19e6","instanceIdentifier":"1951585c-019b-1000-40de-40b98436f8f5","name":"PublishKafka","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"6e14f8b8-1336-3344-86c0-10995990d905","instanceIdentifier":"195258fe-019b-1000-fc10-8dad0f44aae6","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"6aced713-fc78-31d7-9e15-2b8db29f88b4","instanceIdentifier":"18d79ca7-019b-1000-b69c-2724397e424f","name":"AttributesToJSON","type":"PROCESSOR"},"zIndex":10},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"a345c7e9-bc5b-36e1-8226-f11bbfe0d2a5","instanceIdentifier":"1d69be0a-019b-1000-053f-a799e5c81c22","name":"EvaluateJsonPath","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"a8eb6172-df0c-36f1-8920-51c808625596","instanceIdentifier":"1d6aa49b-019b-1000-6b72-cbf4464204c0","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["split"],"source":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"c0c983da-76c6-3a51-932a-7c84ea1349bd","instanceIdentifier":"1d681fdc-019b-1000-1a1c-e98ac8eca464","name":"SplitJson","type":"PROCESSOR"},"zIndex":27},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"65ee1817-59af-31cf-af71-e98a34a1b23c","instanceIdentifier":"1cd6a770-019b-1000-84a5-5e4eb03bb856","name":"PutWebSocket","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"c7d47fc2-0422-35d5-a8ff-b70dfcd44ef4","instanceIdentifier":"1cd6c22e-019b-1000-37ea-2e91106fe785","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"5f014667-5064-3925-af2d-d54f4aa1fe32","instanceIdentifier":"1cd57f49-019b-1000-17f6-d7bcc7c6ebff","name":"ReplaceText","type":"PROCESSOR"},"zIndex":20},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"3260ae26-990a-315a-881a-c33471ad1a91","instanceIdentifier":"19ac0237-019b-1000-d600-86422df12131","name":"SplitText","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"f4b02fd5-5dce-35e4-90d2-9846ac6bce02","instanceIdentifier":"19bb6ad2-019b-1000-1114-16a7fd680b94","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"9471804a-2661-3e3a-9383-07667fded531","instanceIdentifier":"19b387a5-019b-1000-f5f7-d8699a38d4bc","name":"ReplaceText","type":"PROCESSOR"},"zIndex":15},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"3cd3ac9c-fac2-3d95-bc50-6afa0781ae0c","instanceIdentifier":"1d79ca40-019b-1000-4128-fc5e9212f6c1","name":"AttributesToJSON","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"c1fce8d5-d037-3f64-a5a0-a8f0a2c75d73","instanceIdentifier":"1d7b0c4f-019b-1000-fe7d-7e38be3ac53f","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["matched"],"source":{"comments":"","groupId":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","id":"a345c7e9-bc5b-36e1-8226-f11bbfe0d2a5","instanceIdentifier":"1d69be0a-019b-1000-053f-a799e5c81c22","name":"EvaluateJsonPath","type":"PROCESSOR"},"zIndex":28}],"controllerServices":[],"defaultBackPressureDataSizeThreshold":"1 GB","defaultBackPressureObjectThreshold":10000,"defaultFlowFileExpiration":"0 sec","executionEngine":"INHERITED","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[],"identifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","inputPorts":[],"instanceIdentifier":"55092c23-019b-1000-4e57-060a824c8130","labels":[],"maxConcurrentTasks":1,"name":"main","outputPorts":[],"position":{"x":-592.0,"y":-616.0},"processGroups":[],"processors":[{"autoTerminatedRelationships":["success","failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-websocket-processors-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"65ee1817-59af-31cf-af71-e98a34a1b23c","instanceIdentifier":"1cd6a770-019b-1000-84a5-5e4eb03bb856","maxBackoffPeriod":"10 mins","name":"PutWebSocket","penaltyDuration":"30 sec","position":{"x":2144.0,"y":-616.0},"properties":{"websocket-session-id":"${websocket.session.id}","websocket-controller-service-id":"${websocket.controller.service.id}","websocket-message-type":"TEXT","websocket-endpoint-id":"${websocket.endpoint.id}"},"propertyDescriptors":{"websocket-session-id":{"displayName":"WebSocket Session Id","dynamic":false,"identifiesControllerService":false,"name":"websocket-session-id","sensitive":false},"websocket-controller-service-id":{"displayName":"WebSocket ControllerService Id","dynamic":false,"identifiesControllerService":false,"name":"websocket-controller-service-id","sensitive":false},"websocket-message-type":{"displayName":"WebSocket Message Type","dynamic":false,"identifiesControllerService":false,"name":"websocket-message-type","sensitive":false},"websocket-endpoint-id":{"displayName":"WebSocket Endpoint Id","dynamic":false,"identifiesControllerService":false,"name":"websocket-endpoint-id","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.websocket.PutWebSocket","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"3cd3ac9c-fac2-3d95-bc50-6afa0781ae0c","instanceIdentifier":"1d79ca40-019b-1000-4128-fc5e9212f6c1","maxBackoffPeriod":"10 mins","name":"AttributesToJSON","penaltyDuration":"30 sec","position":{"x":2848.0,"y":96.0},"properties":{"Destination":"flowfile-content","Null Value":"false","Attributes List":"headline,summary,article_url,timestamp","Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"displayName":"Attributes Regular Expression","dynamic":false,"identifiesControllerService":false,"name":"attributes-to-json-regex","sensitive":false},"Destination":{"displayName":"Destination","dynamic":false,"identifiesControllerService":false,"name":"Destination","sensitive":false},"Null Value":{"displayName":"Null Value","dynamic":false,"identifiesControllerService":false,"name":"Null Value","sensitive":false},"Attributes List":{"displayName":"Attributes List","dynamic":false,"identifiesControllerService":false,"name":"Attributes List","sensitive":false},"Pretty Print":{"displayName":"Pretty Print","dynamic":false,"identifiesControllerService":false,"name":"Pretty Print","sensitive":false},"Include Core Attributes":{"displayName":"Include Core Attributes","dynamic":false,"identifiesControllerService":false,"name":"Include Core Attributes","sensitive":false},"JSON Handling Strategy":{"displayName":"JSON Handling Strategy","dynamic":false,"identifiesControllerService":false,"name":"JSON Handling Strategy","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.AttributesToJSON","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"9471804a-2661-3e3a-9383-07667fded531","instanceIdentifier":"19b387a5-019b-1000-f5f7-d8699a38d4bc","maxBackoffPeriod":"10 mins","name":"ReplaceText","penaltyDuration":"30 sec","position":{"x":-304.0,"y":-376.0},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"BINANCE:BTCUSDT\nBINANCE:ETHUSDT\nBINANCE:DOGEUSDT\nCOINBASE:BTC-USD\nAAPL\nNVDA\nOANDA:EUR_USD","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace"},"propertyDescriptors":{"Regular Expression":{"displayName":"Search Value","dynamic":false,"identifiesControllerService":false,"name":"Regular Expression","sensitive":false},"Replacement Value":{"displayName":"Replacement Value","dynamic":false,"identifiesControllerService":false,"name":"Replacement Value","sensitive":false},"Evaluation Mode":{"displayName":"Evaluation Mode","dynamic":false,"identifiesControllerService":false,"name":"Evaluation Mode","sensitive":false},"Text to Prepend":{"displayName":"Text to Prepend","dynamic":false,"identifiesControllerService":false,"name":"Text to Prepend","sensitive":false},"Line-by-Line Evaluation Mode":{"displayName":"Line-by-Line Evaluation Mode","dynamic":false,"identifiesControllerService":false,"name":"Line-by-Line Evaluation Mode","sensitive":false},"Character Set":{"displayName":"Character Set","dynamic":false,"identifiesControllerService":false,"name":"Character Set","sensitive":false},"Maximum Buffer Size":{"displayName":"Maximum Buffer Size","dynamic":false,"identifiesControllerService":false,"name":"Maximum Buffer Size","sensitive":false},"Replacement Strategy":{"displayName":"Replacement Strategy","dynamic":false,"identifiesControllerService":false,"name":"Replacement Strategy","sensitive":false},"Text to Append":{"displayName":"Text to Append","dynamic":false,"identifiesControllerService":false,"name":"Text to Append","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":25,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["original","failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"e235c1ba-039d-32ec-b66d-618f44968bbe","instanceIdentifier":"1c72b2cc-019b-1000-1a3c-7be53ef440aa","maxBackoffPeriod":"10 mins","name":"Split the trades array","penaltyDuration":"30 sec","position":{"x":392.0,"y":-352.0},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.data"},"propertyDescriptors":{"Max String Length":{"displayName":"Max String Length","dynamic":false,"identifiesControllerService":false,"name":"Max String Length","sensitive":false},"Null Value Representation":{"displayName":"Null Value Representation","dynamic":false,"identifiesControllerService":false,"name":"Null Value Representation","sensitive":false},"JsonPath Expression":{"displayName":"JsonPath Expression","dynamic":false,"identifiesControllerService":false,"name":"JsonPath Expression","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.SplitJson","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"043f5bf3-9546-34e2-b50e-88c09f5d75f3","instanceIdentifier":"1cebf819-019b-1000-61fa-beb2d3a6c6b6","maxBackoffPeriod":"10 mins","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":552.0,"y":48.0},"properties":{"symbol":"${symbol:substringAfter(':')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","source":"finnhub"},"propertyDescriptors":{"symbol":{"displayName":"symbol","dynamic":true,"identifiesControllerService":false,"name":"symbol","sensitive":false},"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","dynamic":false,"identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","dynamic":false,"identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","dynamic":false,"identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"source":{"displayName":"source","dynamic":true,"identifiesControllerService":false,"name":"source","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","dynamic":false,"identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":25,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"a1469da6-2bf5-3555-83bb-3ebf19954e03","instanceIdentifier":"19adb09f-019b-1000-b9e3-c00640aacff1","maxBackoffPeriod":"10 mins","name":"ReplaceText","penaltyDuration":"30 sec","position":{"x":-584.0,"y":8.0},"properties":{"Regular Expression":"(.+)","Replacement Value":"{\"type\": \"subscribe\", \"symbol\": \"$1\"}","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"displayName":"Search Value","dynamic":false,"identifiesControllerService":false,"name":"Regular Expression","sensitive":false},"Replacement Value":{"displayName":"Replacement Value","dynamic":false,"identifiesControllerService":false,"name":"Replacement Value","sensitive":false},"Evaluation Mode":{"displayName":"Evaluation Mode","dynamic":false,"identifiesControllerService":false,"name":"Evaluation Mode","sensitive":false},"Text to Prepend":{"displayName":"Text to Prepend","dynamic":false,"identifiesControllerService":false,"name":"Text to Prepend","sensitive":false},"Line-by-Line Evaluation Mode":{"displayName":"Line-by-Line Evaluation Mode","dynamic":false,"identifiesControllerService":false,"name":"Line-by-Line Evaluation Mode","sensitive":false},"Character Set":{"displayName":"Character Set","dynamic":false,"identifiesControllerService":false,"name":"Character Set","sensitive":false},"Maximum Buffer Size":{"displayName":"Maximum Buffer Size","dynamic":false,"identifiesControllerService":false,"name":"Maximum Buffer Size","sensitive":false},"Replacement Strategy":{"displayName":"Replacement Strategy","dynamic":false,"identifiesControllerService":false,"name":"Replacement Strategy","sensitive":false},"Text to Append":{"displayName":"Text to Append","dynamic":false,"identifiesControllerService":false,"name":"Text to Append","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":25,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["success","failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-kafka-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"1d6f139d-019b-1000-c3d1-c80668ac31b8","instanceIdentifier":"2a5fb25c-a4d3-37fa-6786-513220087c27","maxBackoffPeriod":"10 mins","name":"PublishKafka","penaltyDuration":"30 sec","position":{"x":2816.0,"y":392.0},"properties":{"compression.type":"none","acks":"all","Kafka Key Attribute Encoding":"utf-8","Record Metadata Strategy":"FROM_PROPERTIES","Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"financial_news","Kafka Connection Service":"0879f1a0-e1a7-37c5-8856-eb792c374609","Publish Strategy":"USE_VALUE","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Transactions Enabled":"false"},"propertyDescriptors":{"compression.type":{"displayName":"Compression Type","dynamic":false,"identifiesControllerService":false,"name":"compression.type","sensitive":false},"acks":{"displayName":"Delivery Guarantee","dynamic":false,"identifiesControllerService":false,"name":"acks","sensitive":false},"Message Demarcator":{"displayName":"Message Demarcator","dynamic":false,"identifiesControllerService":false,"name":"Message Demarcator","sensitive":false},"Kafka Key Attribute Encoding":{"displayName":"Kafka Key Attribute Encoding","dynamic":false,"identifiesControllerService":false,"name":"Kafka Key Attribute Encoding","sensitive":false},"Record Reader":{"displayName":"Record Reader","dynamic":false,"identifiesControllerService":true,"name":"Record Reader","sensitive":false},"Record Metadata Strategy":{"displayName":"Record Metadata Strategy","dynamic":false,"identifiesControllerService":false,"name":"Record Metadata Strategy","sensitive":false},"Transactional ID Prefix":{"displayName":"Transactional ID Prefix","dynamic":false,"identifiesControllerService":false,"name":"Transactional ID Prefix","sensitive":false},"Header Encoding":{"displayName":"Header Encoding","dynamic":false,"identifiesControllerService":false,"name":"Header Encoding","sensitive":false},"max.request.size":{"displayName":"Max Request Size","dynamic":false,"identifiesControllerService":false,"name":"max.request.size","sensitive":false},"Topic Name":{"displayName":"Topic Name","dynamic":false,"identifiesControllerService":false,"name":"Topic Name","sensitive":false},"Kafka Key":{"displayName":"Kafka Key","dynamic":false,"identifiesControllerService":false,"name":"Kafka Key","sensitive":false},"partition":{"displayName":"Partition","dynamic":false,"identifiesControllerService":false,"name":"partition","sensitive":false},"Kafka Connection Service":{"displayName":"Kafka Connection Service","dynamic":false,"identifiesControllerService":true,"name":"Kafka Connection Service","sensitive":false},"Publish Strategy":{"displayName":"Publish Strategy","dynamic":false,"identifiesControllerService":false,"name":"Publish Strategy","sensitive":false},"Record Key Writer":{"displayName":"Record Key Writer","dynamic":false,"identifiesControllerService":true,"name":"Record Key Writer","sensitive":false},"Failure Strategy":{"displayName":"Failure Strategy","dynamic":false,"identifiesControllerService":false,"name":"Failure Strategy","sensitive":false},"partitioner.class":{"displayName":"Partitioner Class","dynamic":false,"identifiesControllerService":false,"name":"partitioner.class","sensitive":false},"Record Writer":{"displayName":"Record Writer","dynamic":false,"identifiesControllerService":true,"name":"Record Writer","sensitive":false},"Transactions Enabled":{"displayName":"Transactions Enabled","dynamic":false,"identifiesControllerService":false,"name":"Transactions Enabled","sensitive":false},"Message Key Field":{"displayName":"Message Key Field","dynamic":false,"identifiesControllerService":false,"name":"Message Key Field","sensitive":false},"FlowFile Attribute Header Pattern":{"displayName":"FlowFile Attribute Header Pattern","dynamic":false,"identifiesControllerService":false,"name":"FlowFile Attribute Header Pattern","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.kafka.processors.PublishKafka","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["original","failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"c0c983da-76c6-3a51-932a-7c84ea1349bd","instanceIdentifier":"1d681fdc-019b-1000-1a1c-e98ac8eca464","maxBackoffPeriod":"10 mins","name":"SplitJson","penaltyDuration":"30 sec","position":{"x":2840.0,"y":-360.0},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$"},"propertyDescriptors":{"Max String Length":{"displayName":"Max String Length","dynamic":false,"identifiesControllerService":false,"name":"Max String Length","sensitive":false},"Null Value Representation":{"displayName":"Null Value Representation","dynamic":false,"identifiesControllerService":false,"name":"Null Value Representation","sensitive":false},"JsonPath Expression":{"displayName":"JsonPath Expression","dynamic":false,"identifiesControllerService":false,"name":"JsonPath Expression","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.SplitJson","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["success","failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-kafka-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"5739ed65-1795-3a7b-9fbc-a0c8737c19e6","instanceIdentifier":"1951585c-019b-1000-40de-40b98436f8f5","maxBackoffPeriod":"10 mins","name":"PublishKafka","penaltyDuration":"30 sec","position":{"x":984.0,"y":544.0},"properties":{"compression.type":"none","acks":"all","Kafka Key Attribute Encoding":"utf-8","Record Metadata Strategy":"FROM_PROPERTIES","Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"financial_trades","Kafka Key":"${symbol}","Kafka Connection Service":"0879f1a0-e1a7-37c5-8856-eb792c374609","Publish Strategy":"USE_VALUE","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Transactions Enabled":"false"},"propertyDescriptors":{"compression.type":{"displayName":"Compression Type","dynamic":false,"identifiesControllerService":false,"name":"compression.type","sensitive":false},"acks":{"displayName":"Delivery Guarantee","dynamic":false,"identifiesControllerService":false,"name":"acks","sensitive":false},"Message Demarcator":{"displayName":"Message Demarcator","dynamic":false,"identifiesControllerService":false,"name":"Message Demarcator","sensitive":false},"Kafka Key Attribute Encoding":{"displayName":"Kafka Key Attribute Encoding","dynamic":false,"identifiesControllerService":false,"name":"Kafka Key Attribute Encoding","sensitive":false},"Record Reader":{"displayName":"Record Reader","dynamic":false,"identifiesControllerService":true,"name":"Record Reader","sensitive":false},"Record Metadata Strategy":{"displayName":"Record Metadata Strategy","dynamic":false,"identifiesControllerService":false,"name":"Record Metadata Strategy","sensitive":false},"Transactional ID Prefix":{"displayName":"Transactional ID Prefix","dynamic":false,"identifiesControllerService":false,"name":"Transactional ID Prefix","sensitive":false},"Header Encoding":{"displayName":"Header Encoding","dynamic":false,"identifiesControllerService":false,"name":"Header Encoding","sensitive":false},"max.request.size":{"displayName":"Max Request Size","dynamic":false,"identifiesControllerService":false,"name":"max.request.size","sensitive":false},"Topic Name":{"displayName":"Topic Name","dynamic":false,"identifiesControllerService":false,"name":"Topic Name","sensitive":false},"Kafka Key":{"displayName":"Kafka Key","dynamic":false,"identifiesControllerService":false,"name":"Kafka Key","sensitive":false},"partition":{"displayName":"Partition","dynamic":false,"identifiesControllerService":false,"name":"partition","sensitive":false},"Kafka Connection Service":{"displayName":"Kafka Connection Service","dynamic":false,"identifiesControllerService":true,"name":"Kafka Connection Service","sensitive":false},"Publish Strategy":{"displayName":"Publish Strategy","dynamic":false,"identifiesControllerService":false,"name":"Publish Strategy","sensitive":false},"Record Key Writer":{"displayName":"Record Key Writer","dynamic":false,"identifiesControllerService":true,"name":"Record Key Writer","sensitive":false},"Failure Strategy":{"displayName":"Failure Strategy","dynamic":false,"identifiesControllerService":false,"name":"Failure Strategy","sensitive":false},"partitioner.class":{"displayName":"Partitioner Class","dynamic":false,"identifiesControllerService":false,"name":"partitioner.class","sensitive":false},"Record Writer":{"displayName":"Record Writer","dynamic":false,"identifiesControllerService":true,"name":"Record Writer","sensitive":false},"Transactions Enabled":{"displayName":"Transactions Enabled","dynamic":false,"identifiesControllerService":false,"name":"Transactions Enabled","sensitive":false},"Message Key Field":{"displayName":"Message Key Field","dynamic":false,"identifiesControllerService":false,"name":"Message Key Field","sensitive":false},"FlowFile Attribute Header Pattern":{"displayName":"FlowFile Attribute Header Pattern","dynamic":false,"identifiesControllerService":false,"name":"FlowFile Attribute Header Pattern","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.kafka.processors.PublishKafka","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["original","failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"3260ae26-990a-315a-881a-c33471ad1a91","instanceIdentifier":"19ac0237-019b-1000-d600-86422df12131","maxBackoffPeriod":"10 mins","name":"SplitText","penaltyDuration":"30 sec","position":{"x":-496.0,"y":-184.0},"properties":{"Remove Trailing Newlines":"true","Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"displayName":"Remove Trailing Newlines","dynamic":false,"identifiesControllerService":false,"name":"Remove Trailing Newlines","sensitive":false},"Maximum Fragment Size":{"displayName":"Maximum Fragment Size","dynamic":false,"identifiesControllerService":false,"name":"Maximum Fragment Size","sensitive":false},"Header Line Marker Characters":{"displayName":"Header Line Marker Characters","dynamic":false,"identifiesControllerService":false,"name":"Header Line Marker Characters","sensitive":false},"Header Line Count":{"displayName":"Header Line Count","dynamic":false,"identifiesControllerService":false,"name":"Header Line Count","sensitive":false},"Line Split Count":{"displayName":"Line Split Count","dynamic":false,"identifiesControllerService":false,"name":"Line Split Count","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.SplitText","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["disconnected","success","failure","binary message"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-websocket-processors-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"486c04da-5cb0-35bd-8615-d1c4a12cb5e1","instanceIdentifier":"18a6ed7c-019b-1000-83a3-8eb36d75a0f8","maxBackoffPeriod":"10 mins","name":"ConnectWebSocket Finnhub","penaltyDuration":"30 sec","position":{"x":-8.0,"y":-584.0},"properties":{"websocket-client-controller-service":"2b54ff77-99a5-35a6-9a31-da94393dd4c8","websocket-client-id":"finnhub-stream"},"propertyDescriptors":{"websocket-client-controller-service":{"displayName":"WebSocket Client ControllerService","dynamic":false,"identifiesControllerService":true,"name":"websocket-client-controller-service","sensitive":false},"websocket-client-id":{"displayName":"WebSocket Client Id","dynamic":false,"identifiesControllerService":false,"name":"websocket-client-id","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.websocket.ConnectWebSocket","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["disconnected","success","failure","binary message"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-websocket-processors-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"1cc940db-019b-1000-31b5-37fa45b11470","instanceIdentifier":"e03b7ca3-ee10-3eb9-53eb-c1d5a647d803","maxBackoffPeriod":"10 mins","name":"ConnectWebSocket Binance","penaltyDuration":"30 sec","position":{"x":1056.0,"y":-616.0},"properties":{"websocket-client-controller-service":"8db457c6-c108-35a0-9b45-60f14bc122f1","websocket-client-id":"binance-stream"},"propertyDescriptors":{"websocket-client-controller-service":{"displayName":"WebSocket Client ControllerService","dynamic":false,"identifiesControllerService":true,"name":"websocket-client-controller-service","sensitive":false},"websocket-client-id":{"displayName":"WebSocket Client Id","dynamic":false,"identifiesControllerService":false,"name":"websocket-client-id","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.websocket.ConnectWebSocket","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"5f014667-5064-3925-af2d-d54f4aa1fe32","instanceIdentifier":"1cd57f49-019b-1000-17f6-d7bcc7c6ebff","maxBackoffPeriod":"10 mins","name":"ReplaceText","penaltyDuration":"30 sec","position":{"x":1712.0,"y":-616.0},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"method\": \"SUBSCRIBE\",\n  \"params\": [\n    \"btcusdt@trade\",\n    \"ethusdt@trade\",\n    \"bnbusdt@trade\",\n    \"dogeusdt@trade\",\n    \"solusdt@trade\"\n  ],\n  \"id\": 1\n}","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace"},"propertyDescriptors":{"Regular Expression":{"displayName":"Search Value","dynamic":false,"identifiesControllerService":false,"name":"Regular Expression","sensitive":false},"Replacement Value":{"displayName":"Replacement Value","dynamic":false,"identifiesControllerService":false,"name":"Replacement Value","sensitive":false},"Evaluation Mode":{"displayName":"Evaluation Mode","dynamic":false,"identifiesControllerService":false,"name":"Evaluation Mode","sensitive":false},"Text to Prepend":{"displayName":"Text to Prepend","dynamic":false,"identifiesControllerService":false,"name":"Text to Prepend","sensitive":false},"Line-by-Line Evaluation Mode":{"displayName":"Line-by-Line Evaluation Mode","dynamic":false,"identifiesControllerService":false,"name":"Line-by-Line Evaluation Mode","sensitive":false},"Character Set":{"displayName":"Character Set","dynamic":false,"identifiesControllerService":false,"name":"Character Set","sensitive":false},"Maximum Buffer Size":{"displayName":"Maximum Buffer Size","dynamic":false,"identifiesControllerService":false,"name":"Maximum Buffer Size","sensitive":false},"Replacement Strategy":{"displayName":"Replacement Strategy","dynamic":false,"identifiesControllerService":false,"name":"Replacement Strategy","sensitive":false},"Text to Append":{"displayName":"Text to Append","dynamic":false,"identifiesControllerService":false,"name":"Text to Append","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":25,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"6aced713-fc78-31d7-9e15-2b8db29f88b4","instanceIdentifier":"18d79ca7-019b-1000-b69c-2724397e424f","maxBackoffPeriod":"10 mins","name":"AttributesToJSON","penaltyDuration":"30 sec","position":{"x":984.0,"y":288.0},"properties":{"Destination":"flowfile-content","Null Value":"false","Attributes List":"symbol,price,timestamp,volume,source","Pretty Print":"false","Include Core Attributes":"false","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"displayName":"Attributes Regular Expression","dynamic":false,"identifiesControllerService":false,"name":"attributes-to-json-regex","sensitive":false},"Destination":{"displayName":"Destination","dynamic":false,"identifiesControllerService":false,"name":"Destination","sensitive":false},"Null Value":{"displayName":"Null Value","dynamic":false,"identifiesControllerService":false,"name":"Null Value","sensitive":false},"Attributes List":{"displayName":"Attributes List","dynamic":false,"identifiesControllerService":false,"name":"Attributes List","sensitive":false},"Pretty Print":{"displayName":"Pretty Print","dynamic":false,"identifiesControllerService":false,"name":"Pretty Print","sensitive":false},"Include Core Attributes":{"displayName":"Include Core Attributes","dynamic":false,"identifiesControllerService":false,"name":"Include Core Attributes","sensitive":false},"JSON Handling Strategy":{"displayName":"JSON Handling Strategy","dynamic":false,"identifiesControllerService":false,"name":"JSON Handling Strategy","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.AttributesToJSON","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"82cab960-472a-3450-b838-2ae87a26bda1","instanceIdentifier":"1d632465-019b-1000-df68-8864a65d2738","maxBackoffPeriod":"10 mins","name":"InvokeHTTP","penaltyDuration":"30 sec","position":{"x":2856.0,"y":-616.0},"properties":{"Request Content-Encoding":"DISABLED","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://finnhub.io/api/v1/news?category=general&token=d4qtt7hr01qrphac3eg0d4qtt7hr01qrphac3egg","Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","Response Generation Required":"false","Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Content-Type":"${mime.type}","Request Digest Authentication Enabled":"false","Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"displayName":"Request Content-Encoding","dynamic":false,"identifiesControllerService":false,"name":"Request Content-Encoding","sensitive":false},"proxy-configuration-service":{"displayName":"Proxy Configuration Service","dynamic":false,"identifiesControllerService":true,"name":"proxy-configuration-service","sensitive":false},"Request Multipart Form-Data Filename Enabled":{"displayName":"Request Multipart Form-Data Filename Enabled","dynamic":false,"identifiesControllerService":false,"name":"Request Multipart Form-Data Filename Enabled","sensitive":false},"Request Chunked Transfer-Encoding Enabled":{"displayName":"Request Chunked Transfer-Encoding Enabled","dynamic":false,"identifiesControllerService":false,"name":"Request Chunked Transfer-Encoding Enabled","sensitive":false},"Response Header Request Attributes Prefix":{"displayName":"Response Header Request Attributes Prefix","dynamic":false,"identifiesControllerService":false,"name":"Response Header Request Attributes Prefix","sensitive":false},"HTTP/2 Disabled":{"displayName":"HTTP/2 Disabled","dynamic":false,"identifiesControllerService":false,"name":"HTTP/2 Disabled","sensitive":false},"Connection Timeout":{"displayName":"Connection Timeout","dynamic":false,"identifiesControllerService":false,"name":"Connection Timeout","sensitive":false},"Response Cookie Strategy":{"displayName":"Response Cookie Strategy","dynamic":false,"identifiesControllerService":false,"name":"Response Cookie Strategy","sensitive":false},"Request Password":{"displayName":"Request Password","dynamic":false,"identifiesControllerService":false,"name":"Request Password","sensitive":true},"Socket Read Timeout":{"displayName":"Socket Read Timeout","dynamic":false,"identifiesControllerService":false,"name":"Socket Read Timeout","sensitive":false},"Socket Idle Connections":{"displayName":"Socket Idle Connections","dynamic":false,"identifiesControllerService":false,"name":"Socket Idle Connections","sensitive":false},"Request Body Enabled":{"displayName":"Request Body Enabled","dynamic":false,"identifiesControllerService":false,"name":"Request Body Enabled","sensitive":false},"OAuth2 Access Token Refresh Strategy":{"displayName":"OAuth2 Access Token Refresh Strategy","dynamic":false,"identifiesControllerService":false,"name":"OAuth2 Access Token Refresh Strategy","sensitive":false},"HTTP URL":{"displayName":"HTTP URL","dynamic":false,"identifiesControllerService":false,"name":"HTTP URL","sensitive":false},"Request OAuth2 Access Token Provider":{"displayName":"Request OAuth2 Access Token Provider","dynamic":false,"identifiesControllerService":true,"name":"Request OAuth2 Access Token Provider","sensitive":false},"Socket Idle Timeout":{"displayName":"Socket Idle Timeout","dynamic":false,"identifiesControllerService":false,"name":"Socket Idle Timeout","sensitive":false},"Response Redirects Enabled":{"displayName":"Response Redirects Enabled","dynamic":false,"identifiesControllerService":false,"name":"Response Redirects Enabled","sensitive":false},"Socket Write Timeout":{"displayName":"Socket Write Timeout","dynamic":false,"identifiesControllerService":false,"name":"Socket Write Timeout","sensitive":false},"Request Header Attributes Pattern":{"displayName":"Request Header Attributes Pattern","dynamic":false,"identifiesControllerService":false,"name":"Request Header Attributes Pattern","sensitive":false},"Response FlowFile Naming Strategy":{"displayName":"Response FlowFile Naming Strategy","dynamic":false,"identifiesControllerService":false,"name":"Response FlowFile Naming Strategy","sensitive":false},"Response Cache Enabled":{"displayName":"Response Cache Enabled","dynamic":false,"identifiesControllerService":false,"name":"Response Cache Enabled","sensitive":false},"Request Date Header Enabled":{"displayName":"Request Date Header Enabled","dynamic":false,"identifiesControllerService":false,"name":"Request Date Header Enabled","sensitive":false},"Request Failure Penalization Enabled":{"displayName":"Request Failure Penalization Enabled","dynamic":false,"identifiesControllerService":false,"name":"Request Failure Penalization Enabled","sensitive":false},"Response Body Attribute Size":{"displayName":"Response Body Attribute Size","dynamic":false,"identifiesControllerService":false,"name":"Response Body Attribute Size","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","dynamic":false,"identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Response Generation Required":{"displayName":"Response Generation Required","dynamic":false,"identifiesControllerService":false,"name":"Response Generation Required","sensitive":false},"Request User-Agent":{"displayName":"Request User-Agent","dynamic":false,"identifiesControllerService":false,"name":"Request User-Agent","sensitive":false},"Response Header Request Attributes Enabled":{"displayName":"Response Header Request Attributes Enabled","dynamic":false,"identifiesControllerService":false,"name":"Response Header Request Attributes Enabled","sensitive":false},"HTTP Method":{"displayName":"HTTP Method","dynamic":false,"identifiesControllerService":false,"name":"HTTP Method","sensitive":false},"Request Username":{"displayName":"Request Username","dynamic":false,"identifiesControllerService":false,"name":"Request Username","sensitive":false},"Request Content-Type":{"displayName":"Request Content-Type","dynamic":false,"identifiesControllerService":false,"name":"Request Content-Type","sensitive":false},"Response Body Attribute Name":{"displayName":"Response Body Attribute Name","dynamic":false,"identifiesControllerService":false,"name":"Response Body Attribute Name","sensitive":false},"Request Digest Authentication Enabled":{"displayName":"Request Digest Authentication Enabled","dynamic":false,"identifiesControllerService":false,"name":"Request Digest Authentication Enabled","sensitive":false},"Request Multipart Form-Data Name":{"displayName":"Request Multipart Form-Data Name","dynamic":false,"identifiesControllerService":false,"name":"Request Multipart Form-Data Name","sensitive":false},"Response Cache Size":{"displayName":"Response Cache Size","dynamic":false,"identifiesControllerService":false,"name":"Response Cache Size","sensitive":false},"Response Body Ignored":{"displayName":"Response Body Ignored","dynamic":false,"identifiesControllerService":false,"name":"Response Body Ignored","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure","unmatched"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"09b81db9-99ba-34ad-96b1-58bc9e78861f","instanceIdentifier":"1ce3db83-019b-1000-6308-79f9e32cc5aa","maxBackoffPeriod":"10 mins","name":"EvaluateJsonPath","penaltyDuration":"30 sec","position":{"x":1072.0,"y":-336.0},"properties":{"volume":"$.q","Destination":"flowfile-attribute","symbol":"$.s","Max String Length":"20 MB","price":"$.p","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","timestamp":"$.T"},"propertyDescriptors":{"volume":{"displayName":"volume","dynamic":true,"identifiesControllerService":false,"name":"volume","sensitive":false},"Destination":{"displayName":"Destination","dynamic":false,"identifiesControllerService":false,"name":"Destination","sensitive":false},"symbol":{"displayName":"symbol","dynamic":true,"identifiesControllerService":false,"name":"symbol","sensitive":false},"Max String Length":{"displayName":"Max String Length","dynamic":false,"identifiesControllerService":false,"name":"Max String Length","sensitive":false},"price":{"displayName":"price","dynamic":true,"identifiesControllerService":false,"name":"price","sensitive":false},"Return Type":{"displayName":"Return Type","dynamic":false,"identifiesControllerService":false,"name":"Return Type","sensitive":false},"Null Value Representation":{"displayName":"Null Value Representation","dynamic":false,"identifiesControllerService":false,"name":"Null Value Representation","sensitive":false},"Path Not Found Behavior":{"displayName":"Path Not Found Behavior","dynamic":false,"identifiesControllerService":false,"name":"Path Not Found Behavior","sensitive":false},"timestamp":{"displayName":"timestamp","dynamic":true,"identifiesControllerService":false,"name":"timestamp","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure","unmatched"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"e347ebc1-e83b-30dd-99fd-879bfe4f3816","instanceIdentifier":"18ce72a1-019b-1000-f7c4-5443c7ad9ef1","maxBackoffPeriod":"10 mins","name":"EvaluateJsonPath","penaltyDuration":"30 sec","position":{"x":400.0,"y":-168.0},"properties":{"volume":"$.v","Destination":"flowfile-attribute","symbol":"$.s","Max String Length":"20 MB","price":"$.p","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","timestamp":"$.t"},"propertyDescriptors":{"volume":{"displayName":"volume","dynamic":true,"identifiesControllerService":false,"name":"volume","sensitive":false},"Destination":{"displayName":"Destination","dynamic":false,"identifiesControllerService":false,"name":"Destination","sensitive":false},"symbol":{"displayName":"symbol","dynamic":true,"identifiesControllerService":false,"name":"symbol","sensitive":false},"Max String Length":{"displayName":"Max String Length","dynamic":false,"identifiesControllerService":false,"name":"Max String Length","sensitive":false},"price":{"displayName":"price","dynamic":true,"identifiesControllerService":false,"name":"price","sensitive":false},"Return Type":{"displayName":"Return Type","dynamic":false,"identifiesControllerService":false,"name":"Return Type","sensitive":false},"Null Value Representation":{"displayName":"Null Value Representation","dynamic":false,"identifiesControllerService":false,"name":"Null Value Representation","sensitive":false},"Path Not Found Behavior":{"displayName":"Path Not Found Behavior","dynamic":false,"identifiesControllerService":false,"name":"Path Not Found Behavior","sensitive":false},"timestamp":{"displayName":"timestamp","dynamic":true,"identifiesControllerService":false,"name":"timestamp","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"2e343e3f-65f7-35eb-b1d9-6d57314bcbfa","instanceIdentifier":"1ce82de8-019b-1000-bc5a-8c2ee2ddcdb5","maxBackoffPeriod":"10 mins","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":1080.0,"y":0.0},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","source":"binance"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","dynamic":false,"identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","dynamic":false,"identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","dynamic":false,"identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"source":{"displayName":"source","dynamic":true,"identifiesControllerService":false,"name":"source","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","dynamic":false,"identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":25,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["success","failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-websocket-processors-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"290cc144-4e70-35b9-a2eb-66369d90a863","instanceIdentifier":"19b0023c-019b-1000-7871-84016c290c76","maxBackoffPeriod":"10 mins","name":"PutWebSocket","penaltyDuration":"30 sec","position":{"x":-592.0,"y":208.0},"properties":{"websocket-session-id":"${websocket.session.id}","websocket-controller-service-id":"${websocket.controller.service.id}","websocket-message-type":"TEXT","websocket-endpoint-id":"${websocket.endpoint.id}"},"propertyDescriptors":{"websocket-session-id":{"displayName":"WebSocket Session Id","dynamic":false,"identifiesControllerService":false,"name":"websocket-session-id","sensitive":false},"websocket-controller-service-id":{"displayName":"WebSocket ControllerService Id","dynamic":false,"identifiesControllerService":false,"name":"websocket-controller-service-id","sensitive":false},"websocket-message-type":{"displayName":"WebSocket Message Type","dynamic":false,"identifiesControllerService":false,"name":"websocket-message-type","sensitive":false},"websocket-endpoint-id":{"displayName":"WebSocket Endpoint Id","dynamic":false,"identifiesControllerService":false,"name":"websocket-endpoint-id","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.websocket.PutWebSocket","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure","unmatched"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"2.6.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"2e3532fc-bbf3-3a34-b9ad-a4a89e0ae427","identifier":"a345c7e9-bc5b-36e1-8226-f11bbfe0d2a5","instanceIdentifier":"1d69be0a-019b-1000-053f-a799e5c81c22","maxBackoffPeriod":"10 mins","name":"EvaluateJsonPath","penaltyDuration":"30 sec","position":{"x":2848.0,"y":-128.0},"properties":{"summary":"$.summary","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","article_url":"$.url","headline":"$.headline","Path Not Found Behavior":"ignore","timestamp":"$.datetime"},"propertyDescriptors":{"summary":{"displayName":"summary","dynamic":true,"identifiesControllerService":false,"name":"summary","sensitive":false},"Destination":{"displayName":"Destination","dynamic":false,"identifiesControllerService":false,"name":"Destination","sensitive":false},"Max String Length":{"displayName":"Max String Length","dynamic":false,"identifiesControllerService":false,"name":"Max String Length","sensitive":false},"Return Type":{"displayName":"Return Type","dynamic":false,"identifiesControllerService":false,"name":"Return Type","sensitive":false},"Null Value Representation":{"displayName":"Null Value Representation","dynamic":false,"identifiesControllerService":false,"name":"Null Value Representation","sensitive":false},"article_url":{"displayName":"article_url","dynamic":true,"identifiesControllerService":false,"name":"article_url","sensitive":false},"headline":{"displayName":"headline","dynamic":true,"identifiesControllerService":false,"name":"headline","sensitive":false},"Path Not Found Behavior":{"displayName":"Path Not Found Behavior","dynamic":false,"identifiesControllerService":false,"name":"Path Not Found Behavior","sensitive":false},"timestamp":{"displayName":"timestamp","dynamic":true,"identifiesControllerService":false,"name":"timestamp","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"scheduledState":"ENABLED","statelessFlowTimeout":"1 min"},"flowEncodingVersion":"1.0","parameterContexts":{},"parameterProviders":{},"snapshotMetadata":{"author":"anonymous","comments":"","timestamp":1766658270263,"version":1}}